<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HTTPServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HTTPServer.Properties.Settings>
            <setting name="LogFile" serializeAs="String">
                <value>%AppData%\MTI\HTTPServer\Log.log</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Info</value>
            </setting>
        </HTTPServer.Properties.Settings>
    </userSettings>
</configuration>